<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Cadastrar-se</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <label for="username">Usuário:</label>
            <input type="text" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
            <button type="submit">Cadastrar</button>
        </form>
        <a class="link" href="{% url 'login' %}">Voltar ao Login</a>
    </div>
</body>
</html>
