<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boa sorte, Lore!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Boa sorte, Lore!</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="sair">Sair</button>
        </form>
    </div>
</body>
</html>
