body {
    font-family: Arial, sans-serif;
    background-color: #f7e0e7; /* Cor de fundo rosa claro */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h2 {
    color: #d36f89; /* Rosa suave para o título */
    font-size: 2rem;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sair {
    background-color: #d36f89; /* Rosa claro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sair:hover {
    background-color: #c0556e; /* Rosa mais escuro para hover */
}

p {
    color: #c0392b; /* Cor vermelha para erros */
    font-size: 1rem;
    margin-top: 20px;
}