<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagrama Gerado</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'show_diagram.css' %}">
</head>
<body>
    <div class="container">
        <h2>Diagrama UML Gerado</h2>

        {% if repository.diagram_image %}
            <img src="{{ repository.diagram_image.url }}" alt="Diagrama UML" />
        {% else %}
            <p style="color: red;">Erro ao gerar diagrama UML.</p>
        {% endif %}

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="sair">Sair</button>
        </form>
    </div>
</body>
</html>